.Comment {
  width: 90%;
  margin: 20px auto;
  background-color: #20212c;
  border-radius: 20px;
  z-index: 2;
  padding: 20px;

  &__Form {
    border-radius: 20px;
    padding: 20px;
    .mb-3 {
      margin-bottom: 20px;
    }
    .btn {
      background-color: #414052;
      color: #fff;
      padding: 10px 20px;
      margin-right: 10px;
      border: transparent;
      border-radius: 999px;
      margin-bottom: 10px;
      cursor: pointer;
    }
    .inputArea {
      width: 50%;
      display: flex;
      flex-direction: column;
      label {
        color: #fff;
        font-weight: 700;
        padding-bottom: 10px;
      }
    }
    &__Input {
      display: flex;
      justify-content: space-between;
      input,
      textarea {
        width: 100%;
        border: transparent;
        background-color: #414052;
        box-shadow: none;
        color: #fff;
        padding: 10px;
        border-radius: 15px;
        outline: none;

        &:focus {
          background: #414052;
          box-shadow: none;
        }
      }
    }
  }
}
