.bottom-navbar {
    overflow: hidden;
    background-color: var(--bottom-navbar-background-color);
    position: fixed;
    bottom: 0;

    width: 100%;
    height: var(--bottom-navbar-height);

    animation: fadeIn 0.15s ease-in;

    .bottom-navbar-items-container {

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 5rem;
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}