<div class="Auth">
  <nav class="Auth__Menu container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start">
        <div class="Auth__Logo">
          <img src="../../../assets/img/logo/logo.png" alt="ceci est un logo" />
        </div>
      </div>
      <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center">
        <ul class="Auth__Category">
          <li [routerLink]="['/login']" routerLinkActive="router-link-active">
            Connexion
          </li>
          <li
            [routerLink]="['/register']"
            routerLinkActive="router-link-active"
          >
            Inscription
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="Register">
    <div class="Register__Description">
      <h1>Inscription</h1>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti
        perferendis dolorum, dolores placeat corporis minus aliquid reiciendis
        quaerat quae sint perspiciatis aperiam quidem atque optio nam alias,
        maiores unde quis?
      </p>
    </div>
    <form
      [formGroup]="registerForm"
      (ngSubmit)="submit()"
      class="Register__Form"
    >
      <div class="mb-3">
        <input
          formControlName="username"
          type="text"
          class="form-control"
          id="email"
          placeholder="Surnom"
        />
      </div>
      <div class="mb-3">
        <input
          formControlName="email"
          type="email"
          class="form-control"
          id="email"
          placeholder="Adresse Mail"
        />
      </div>
      <div class="mb-3">
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
          placeholder="Mot de passe"
        />
      </div>
      <div class="mb-3">
        <input
          formControlName="confirmedPassword"
          type="password"
          class="form-control"
          id="password"
          placeholder="Nouveau mot de passe"
        />
      </div>
      <button
        type="submit"
        [disabled]="registerForm.invalid"
        class="btn btn-primary"
      >
        <span>S'inscrire</span>
        <i class="bi bi-arrow-right bi-2x"></i>
      </button>
    </form>
  </div>
</div>
